/* AKTIVITITER */

.header-padding-bottom {       // adds padding under the action bar and above the footer
    padding-bottom: 10rem;      // to used on the <main> tag
    background-color: #f5f5f5;
}

.shadow-1{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bg-grey{
    background-color: #F5F5F5;
}

h3 {
    line-height: 3rem;
    padding-bottom: 2rem;
}

p{
    line-height: 1.5rem;    
}

p.spacing{
    margin: 20px 0;
}

.btn-readmore{
    position: relative;
    background-color: $lightGreen;
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    border: 0;
    outline: 0;
    transition: box-shadow 0.2s;
}

/*  CALENDAR STYLES */
.container-calender{
    padding-bottom: 3rem;
}

.bg-darkgreen {
    background-color: $darkGreen !important;
}

.h5 {
    font-family: 'Raleway', sans-serif;
}

.day {
    background-color: white;
}


@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}