.hero-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/frontpage-header.png');
    background-color: orange;
    height: 450px;
    &-tall {
        height: 700px;
    }
    .overlay {
        background: transparentize(#000000, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        &-yellow {
            background: transparentize(yellow, 0.7) !important;
        }
    }
}

.header-title-white {
    color: #ffffff;
    font-family: $oswald;
    z-index: 30;
    font-size: 3.2em;
    text-align: center;
}

.action-bar {
    z-index: 30;
    position: absolute;
    background: white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px $greyShadow;
    width: 960px;
    height: 160px;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
    padding: 15px 0 15px 0
}

.action-bar-container {
    height: 130px;
    span {
        text-align: center;
    }
}

.action-bar-large-text {
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-family: $oswald;
}

.action-bar-small-text {
    width: 100%;
    text-align: center;
}

.border-rl {
    border-right: 1px solid $actionbarBorder;
    border-left: 1px solid $actionbarBorder;
}