@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

$darkGray: #3B3B3B;
$lightGreen: #68B022;
$darkGreen: #00833D;
$offWhite: #f8f8f8;
$greyShadow: #888888;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;
