/*---HJEM---*/

.carousel-sponsor {
    img {
        width: 100px !important;
    }
}

/*---Section FEATURE-GRID---*/

.feature-grid {
    h1,
    h3,
    p {
        color: $offWhite;
    }
    h1,
    h3 {
        font-family: $font-headline;
    }
}

.feature-grid-item {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    &-1 {
        background-image: url("../img/bg-hjem-grid-1.jpg");
        display: block;
        object-fit: cover;
    }
    &-2 {
        background-image: url("../img/bg-hjem-grid-2.jpg");
        display: block;
        object-fit: cover;
    }
    &-3 {
        background-image: url("../img/bg-hjem-grid-3.jpg");
        display: block;
        object-fit: cover;
    }
    &-4 {
        background-image: url("../img/bg-hjem-grid-4.jpeg");
        display: block;
        object-fit: cover;
    }
}

.card-member-padding {
    padding: 100px;
}

.card-img-padding {
    padding: 20px;
    ;
}

.card {
    .card-body {
        flex-direction: row;
        .card-quote {
            font-size: 0.9rem;
        }
        .card-text {
            font-size: 1rem;
        }
    }
}

.carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: $action-bar-border;
    margin: 5%;
    margin-bottom: 100px;
}
