<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img class="LVSlogo" src="img/LVS_logo.png" alt="LVSlogo" height="42">
        </div>
        <div class="col-sm-10">
            <nav>
                <a class="navLink" href="/">Forside</a>
                <a class="navLink" href="/">Væresteder</a>
                <a class="navLink" href="/">Aktiviteter</a>
                <a class="navLink" href="/">Publikationer</a>
                <a class="navLink" href="/">Om LVS</a>
                <a class="navLink" href="/">Nyheder</a>
                <a class="navLink" href="/">Kontakt</a>
            </nav>
        </div>
    </div>
</div>
<hr />
