<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="LVSlogo" src="/img/LVS_logo.png" alt="LVSlogo" height="42">
        </div>
        <div class="col-10">
            <nav>
                <ul>
                    <li class="navLink"> <a href="/">Forside</a></li>
                    <li class="navLink"> <a href="/Vaeresteder">Væresteder</a></li>
                    <li class="navLink"><a href="/Aktiviteter">Aktiviteter</a></li>
                    <li class="navLink"><a href="/Publikationer">Publikationer</a></li>
                    <li class="navLink"><a href="/Om LVS">Om LVS</a></li>
                    <li class="navLink"><a href="/Nyheder">Nyheder</a></li>
                    <li class="navLink"><a href="/Kontakt">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<hr />
