@{
    Layout = "Layout/_Master.cshtml";
}

<h1>Frontpage</h1>
<!-- Images container (Semi done)-->
<div class="container">
    <div class="row no-gutters">
        <div class="col-6"><img src="http://via.placeholder.com/500x500"></div>
        <div class="col-6">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-12"><img src="http://via.placeholder.com/500x250"></div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-6"><img src="http://via.placeholder.com/250x250"></div>
                <div class="col-6"><img src="http://via.placeholder.com/250x250"></div>
            </div>


        </div>
    </div>
</div>
