
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map test</title>
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />
</head>
<body>
    <div>
        <div id="mapid"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <script>
        var mymap = L.map('mapid').setView([55.3980919, 10.3900825], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map eksempel',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1Ijoic29tZXRlc3QiLCJhIjoiY2pmdHJhZWNvNDhlODJxcWZtanEyeGM2ZCJ9.64e5UDjoVlo-UczWc9Q5aA'
        }).addTo(mymap);
        var marker = L.marker([55.403359, 10.379659]).addTo(mymap);
        marker.bindPopup("<b>Erhvervsakademiet Lillebælt </b><br>Seebladsgade 1, 5000 Odense.").openPopup();
    </script>
</body>
</html>
