@{
    Layout = "Layout/_Master.cshtml";
}

<h1>Væresteder</h1>
<div class="backgroundcolordiv container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <img class="map" src="/img/map.png" alt="LVSmap" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2>Læs mere om de enkelte steder her under</h2>
        </div>
    </div>
</div>