@{
    Layout = "Layout/_Master.cshtml";
}

<h1>Væresteder</h1>
<div class="backgroundcolordiv container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <img class="map" src="/img/map.png" alt="LVSmap" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm text-center">
            <h2 class="headlineVaested">Læs mere om de enkelte steder her under</h2>
            <p class="text-muted vaestedDesc">
                Landsforeningen af VæreSteder er paraplyorganisation for mere end 100 af landets væresteder for socialt udsatte mennesker.<br /><br />
                Her under finder du de væresteder der er en del af fællesskabet.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 infoContainer">
            <div class="smallVaestedBox">
                <img class="pointer" src="/img/pointer.png" alt="pointer" />
                <h4 class="vaestedName">Regnbuen</h4><br />
                <p class="text-muted">Adresse: Riberdyb 10, 6000 Kolding <br />Tlf: 79 79 76 00 <br />Mail:vr@kolding.dk</p>
            </div>
            <div class="smallVaestedBox">
                <img class="pointer" src="/img/pointer.png" alt="pointer" />
                <h4 class="vaestedName">Regnbuen</h4><br />
                <p class="text-muted">Adresse: Riberdyb 10, 6000 Kolding <br />Tlf: 79 79 76 00 <br />Mail:vr@kolding.dk</p>
            </div><div class="smallVaestedBox">
                <img class="pointer" src="/img/pointer.png" alt="pointer" />
                <h4 class="vaestedName">Regnbuen</h4><br />
                <p class="text-muted">Adresse: Riberdyb 10, 6000 Kolding <br />Tlf: 79 79 76 00 <br />Mail:vr@kolding.dk</p>
            </div><div class="smallVaestedBox">
                <img class="pointer" src="/img/pointer.png" alt="pointer" />
                <h4 class="vaestedName">Regnbuen</h4><br />
                <p class="text-muted">Adresse: Riberdyb 10, 6000 Kolding <br />Tlf: 79 79 76 00 <br />Mail:vr@kolding.dk</p>
            </div>
        </div>
        <div class="col-5">
            <div class="vaestedBox">
                <img class="vaestedImage" src="/img/house.png" alt="Værested" />
                <div class="vaestedTxt text-muted">
                    <p>
                        Værestedet Regnbuen er et uvisiteret og anonymt tilbud til borgere over 18 år med et mangeårigt aktivt stofmisbrug.
                        Vi tilbyder socialt samvær og aktiviteter, omsorg og muligheden for at møde andre ligestillede.
                    </p>
                    <p>
                        Du kan også få en kop kaffe, et måltid mad, socialt samvær og varme. Ligesom der er mulighed for at deltage i brugermøderne hver anden uge, madlavning, rengøring eller blot at være en del af fællesskabet.
                    </p>
                    <p>
                        Regnbuens personale består af en sygeplejerske og en socialrådgiver og er desuden praktiksted for pædagogisk assistent-elever og socialrådgiverstuderende.
                    </p>
                    <p>
                        Regnbuens tilbud består af:<br />
                        - Kontakt/samtale med en medarbejder<br />
                        - Støtte til at skabe et socialt netværk<br />
                        - Mulighed for gratis morgenmad og middagsmad mod betaling<br />
                        - Deltagelse i forskellige aktiviteter<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>