/*---OM-LVS---*/

/*---TITLE---*/

.om-title-white {
    color: #ffffff;
    font-family: $font-headline;
    z-index: 30;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.card {
    border: none;
}



.card-result-bg {
    background-color: #f5f5f5;
}

.vaestedTxt2 {
    color: black;
    padding: 20px;
}

/* IDVI */

.worker-headline{
    font-size:1.3em;
}
.worker-text{
    font-size:1em;
}


/* Medarbejdere */

