/*---PUBLIKATIONER---*/
.img-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.text-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    color: white;
    visibility: hidden;
    padding: 16px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
    ;
}

.gridimg-wrapper {
    position: relative;
    color: white;

    :hover .text-container {
        visibility: visible;
    }
}

.gridcolumn {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;

    img {
        vertical-align: middle;
        max-width: 100%;

        :hover {
            opacity: 0.8;

            .gridimg-wrapper {
                background-color: black;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
