@media only screen and (max-width: 992px) {
    .action-bar {
        width: 90%;
    }
    .navbar-nav {
        margin-top: 30px;
    }
    .navbar-toggler{
        border: 0;
    }
    .logo-description {
        display: none;
    }
    .hjem-quote {
        .card {
            flex-direction: column;
        }
    }
    .card-member-padding {
        padding: 0;
    }
    .card-img-padding {
        padding: 30px;
    }
    .carousel-indicators li {
        margin-bottom: 0;
    }

    .footer-h {
        font-size: 1.5em;

    }

    .map-marker {
        width: 100%;
    }

    }