@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Nyheder>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
<div class="hero-image hero-image" style="background-image: url('assets/img/frontpage-header.png')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">NYHEDER</h1>
    </div>

    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-text">Sundhed</p>
                    <br>
                    <p class="action-bar-caption">Kategori</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-text">April</p>
                    <br>
                    <p class="action-bar-caption">Måned</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-text">2018</p>
                    <br>
                    <p class="action-bar-caption">År</p>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- START MOST VISITED PLACES -->
<section class="container-fluid bg-light post-action-bar">
    <div class="container">
        <div class="row pb-5 d-flex justify-content-center">
            <div class="post-action-bar-headline">MEST POPULÆR ARKTIKLER</div>
            <div class="col-md-12">
                <div class="row carousel-sponsor d-flex align-items-center">
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://stormspakhus.dk"><img src="assets/img/vaeresteder/outsideren.png" alt="Storms Pakhus logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://kmd.dk"><img src="assets/img/vaeresteder/plexus.png" alt="KMD logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://www.bikubenfonden.dk/kronprinsparrets-priser-2010"><img src="assets/img/vaeresteder/muhabet.png" alt="Kronsprinsparrets Pris logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://odense.dk"><img src="assets/img/vaeresteder/paraplyen.png" alt="Odense Kommune logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://ob.dk" target="_blank"><img src="assets/img/vaeresteder/stoppestedet.png" alt="Odense Boldklub logo"></a></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END MOST VISITED PLACES -->

<section class="container-fluid bg-light clearance-grey">
    <div class="row">

    </div>
</section>

<div class="container">
    <div class="row clearance">

    </div>
</div>