a {
    padding-left: 4px;
    padding-right: 4px;
}

a:link, a:visited {
    color: black;
}

a:hover a:active {
    color: #68B022;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

li {
    display: inline;
}

.active_nav a {
    border-bottom: 2px solid #68B022;
}

.navLink {
}
header{
    margin-top: 10px;
}
.LVSlogo{
    height: 80px;
}