/*---DEFAULT THEME---*/

/*---FONTS---*/
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');
$font-headline: Oswald, sans-serif;
$font-subheadline: Oswald, sans-serif;
$font-body: Raleway, sans-serif;

h1, h2, h3 ,h4, h5, h6 {
    text-transform: uppercase;
}

/*---COLORS---*/
$color-primary: #68B022;
$color-primary-light: #000000;
$color-primary-dark: #000000;
$color-secondary: #000000;
$color-secondary-light: #000000;
$color-secondary-dark: #000000;

/*---GENERAL SHADOWS---*/
$shadow-grey: transparentize( #000000,0.85);

/*---SECTION SPACING---*/
.clearance {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.clearance-top {
    margin-top: 100px !important;
}

.clearance-bottom {
    margin-bottom: 100px !important;
}

/*---SECTION SPACING---*/
/*---For the gray background section---*/
.clearance-grey {                          
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.clearance-top-grey {                          
    padding-top: 100px !important;
}

.clearance-bottom-grey {                          
    padding-bottom: 100px !important;
}

/*---ACTION BAR---*/
$action-bar-border: transparentize(#848484, 0.85);

/*---IMG CAROUSEL---*/
.img-grayscale {
    filter: gray;                     /*IE6-9*/
    -webkit-filter: grayscale(1);       /*Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);               /* Microsoft Edge and Firefox 35+ */
    /*---Disable grayscale on hover---*/
    &:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}