@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
<section class="container-fluid bg-light">
    <!-- STAR DESCRIPTION -->
    <div class="container p-4">
        <h3 class="text-center">@Model.Content.Headline</h3>
        <p class="text-muted text-center">@Model.Content.CreateDate</p>
    </div>
    <!-- END DESCRIPTION -->
</section>
<section class="container-fluid p-4">
    <div class="">
        @Html.GetGridHtml(Model.Content, "content")
    </div>
</section>
