@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
<div class="hero-image hero-image" style="background-image: url('@Model.Content.HeroImage.Url')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">@Model.Content.HeroHeadline</h1>
    </div>
</div>

<!-- START LVS CONTACT INFO -->
<section class="container clearance-grey">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3>@Model.Content.Headline</h3>
            @Html.GetGridHtml(Model.Content, "content")
        </div>
        <div class="col-sm-12 col-md-6">
            <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1218554.7023152593!2d10.405898103599023!3d55.2792606371077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sv%C3%A6resteder!5e0!3m2!1sen!2sdk!4v1523644881930" width="1140" height="600" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    
    
</section>



<!-- START FORM -->
<section class="container">
    <div class="containter clearance">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="post-action-bar-headline">SKRIVE TIL OS</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <fieldset class="col-6-md">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label> Navn: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Postnr: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Telefon: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Email: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Besked: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12 d-flex justify-content-end">
                                <input type="submit" class="submit-button" value="Submit">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END FORM -->