@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OmLvs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}

<div class="hero-image hero-image" style="background-image: url('assets/img/om/om-lvs/om-header.png')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">OM LVS</h1>
    </div>
</div>

<!-- START TAGLINE -->
<section class="container-fluid bg-light clearance-grey">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="post-action-bar-headline">"V" for værested. "V" for vendepunkter</div>
        </div>
    </div>
</section>
<!-- END TAGLINE -->
<!-- START WHITE SECTION -->
<section class="container feature-grid clearance">
    <div class="row">
        <div class="col-md-6">
            <a href="om-lvs.html">
                <div class="card">
                    <img class="card-img img-fluid" src="assets/img/om/om-lvs/card-nav-om1.png" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <p class="om-title-white">OM LVS</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="om-lvs-idvi.html">
                <div class="card">
                    <img class="card-img img-fluid" src="assets/img/om/om-lvs/card-nav-om2.png" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <p class="om-title-white">IDVI</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="om-lvs-medarbejdere.html">
                <div class="card">
                    <img class="card-img img-fluid" src="assets/img/om/om-lvs/card-nav-om3.png" alt="img-medarbejdere">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <p class="om-title-white">MEDARBEJDERE</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- END SECTION  -->
<!-- START GREY SECTION -->
<section class="container-fluid bg-light ">
    <div class="container clearance-grey">
        <h3>HVAD ER LVS?</h3>
        <div class="row">
            <div class="col-md-6">
                <p>
                    LVS er værestedernes værested. I LVS kan værestederne finde et fællesskab og en fagligt funderet opbakning til at udvikle
                    det, de er bedst til: at hjælpe socialt udsatte mennesker til et bedre liv.
                </p><br><br>
                <p>
                    Sekretariatet bistår værestederne med rådgivning, hjælp til projektudvikling og kurser. Socialt udsatte menneskers liv er
                    præget af problemer og af en udpræget mangel på reelle handlemuligheder. Eksempelvis er social ulighed i sundhed både et
                    spørgsmål om ringere sundhedstilstand og om ulighed i adgangen til hjælp eller sagt på en anden måde mangelen på muligheden
                    for umiddelbart at tage vare på sig selv.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    LVS tilbyder derfor også aktiviteter for værestedsbrugerne. Idrætsorganisationen Dansk Væresteds Idræt eller kulturprojektet
                    Krealariet er eksempler herpå. Den succes vi har opnået med idrætten er også et eksempel på, at rigtig mange socialt udsatte
                    ønsker et bedre liv, og at de rent faktisk griber mulighederne, når de er tilpasset brugernes behov.

                </p><br><br>
                <p>
                    For LVS er idræt blot et blandt mange redskaber i det sociale arbejde. Ved at tilbyde aktiviteter som for eksempel idræt
                    på værestederne opnår man flere fordele. For det første kommer socialt udsatte mennesker i gang med at dyrke motion. For
                    det andet høster man de sociale og sundhedsmæssige gevinster i form af øget lyst til forandring og styrket livsmod, og for
                    det tredje bliver værestedet et mere attraktivt sted at komme også for nye brugere.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END GREY SECTION -->