<div class="container footer">
    <div class="row">
        <div class="col-md-4 pt-5 pr-5">
            <h3 class="footer-h">Kontakt</h3>
            <div class="contact-info">
                <p>
                    Landsforeningen af VæreSteder
                    <br /> Danmarksgade 6A, 1.
                    <br /> 7000 Fredericia
                    <br /> Tlf. 7592 4000
                    <br /> lvsinfo@lavs.dk
                    <br />
                    <br /> EAN-nr. 579 800 647 6909
                    <br /> cvr.nr. 29055009
                    <br />
                </p>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <h3 class="footer-h">Genvej</h3>
            <div class="shortcuts">
                <a href="/">Forside</a>
                <br />
                <a href="/Vaeresteder">Væresteder</a>
                <br />
                <a href="/Aktiviteter">Aktiviteter</a>
                <br />
                <a href="/Publikationer">Publikationer</a>
                <br />
                <a href="/Om LVS">Om LVS</a>
                <br />
                <a href="/Nyheder">Nyheder</a>
                <br />
                <a href="/Kontakt">Kontakt</a>
                <br />
            </div>
        </div>
        <div class="col-md-4 pt-5 pl-5">
            <h3 class="footer-h">Sociale Medier</h3>
            <div class="social-media">

                <a href="#" class="footer-social">
                    <i class="fab fa-fw fa-facebook-f"></i>

                </a>
                <a href="#" class="footer-social">
                    <i class="fab fa-fw fa-instagram"></i>

                </a>
                <a href="#" class="footer-social">
                    <i class="fab fa-fw fa-twitter"></i>

                </a>
                <br>
                <p>Find os på de sociale medier, og få et indblik i LVS</p>
            </div>
        </div>
    </div>
</div>
<div class="copyright-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm text-center text-muted pb-3">
                &copy; 2018 - Landsforeningen af VæreSteder, group 5
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="container-fluid bottomline">
    </div>
</div>