@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    //var allPages = Model.Content.Site().Descendants();
    var root = CurrentPage.AncestorOrSelf(1);
    var home = Umbraco.TypedContentAtRoot().OfType<Home>().Single();



}
<div class="container-fluid p-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="mr-4" href="~/">
                <img src="/assets/img/LVS_logo.png" alt="LVS logo" class="logo">
            </a>
            <div class="logo-description">
                <p>
                    <strong>Landsforeningen af VæreSteder</strong><br>
                    <span class="float-right">...et fællesskab i bevægelse</span>
                </p>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="ml-auto navbar-nav">

                    @if (CurrentPage.AncestorOrSelf(1).Id == @Model.Content.Id)
                    {
                        <li class="nav-item active"><a class="nav-link" href="/">Hjem</a> </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="/">Hjem</a> </li>
                    }

                    @{
                        foreach (var page in root.Children.Where("Visible"))
                        {
                            <li class="nav-item @(page.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                <a class="nav-link" href="@page.Url">@page.Name</a>
                            </li>
                        }
                    }
                    <li class="nav-item d-flex align-items-center">
                        <button type="button" class="btn btn-link" id="search-icon">
                            <i class="fal fa-search"></i>
                        </button>

                        <form id="searchbar" class="form-inline my-2 my-lg-0 searchform">
                            <input class="form-control mr-sm-2" type="search" placeholder="Søg..." aria-label="Search">
                            <button class="btn btn-primary m-0" type="submit">Søg</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
