<div class="container-fluid p-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="assets/img/LVS_logo.png" alt="" class="logo">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vaeresteder.html">Væresteder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aktiviteter.html">Aktiviteter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="publikationer.html">Publikationer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nyheder.html">Nyheder</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="om-lvs.html">Om LVS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="kontakt.html">Kontakt</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <i class="fal fa-search"></i>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
