<div class="container-fluid p-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="mr-4" href="index.html">
                <img src="assets/img/LVS_logo.png" alt="LVS logo" class="logo">
            </a>
            <div class="logo-description">
                <p>
                    <strong>Landsforeningen af VæreSteder</strong><br>                     
                    <span class="float-right">...en fælleskab i bevægelse</span>
                </p>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../partials/index.html">Hjem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vaeresteder.html">Væresteder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aktiviteter.html">Aktiviteter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="publikationer.html">Publikationer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nyheder.html">Nyheder</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="om-lvs.html">Om LVS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="kontakt.html">Kontakt</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <i class="fal fa-search"></i>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="hero-image hero-image" style="background-image: url('../../assets/img/om/om-idvi/om-idvi-header.png')">
        <div class="overlay d-flex align-items-center justify-content-center overlay-blue">
            <h1 class="header-title-white">OM IDVI</h1>
        </div>
    </div>
</div>

 <!-- START TAGLINE -->
 <section class="container-fluid bg-light clearance-grey">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="post-action-bar-headline">Idrætsorganisationen Dansk Væresteds Idræt</div>                
        </div>      
    </div>
</section>
<!-- END TAGLINE -->  
