@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway");
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.logo {
  height: 60px; }

.nav-link {
  padding: 0.6em 0.8em !important; }

.nav-item.active .nav-link {
  font-weight: 500;
  position: relative; }
  .nav-item.active .nav-link:after {
    content: "";
    position: absolute;
    height: 3px;
    background: #00833D;
    bottom: 0;
    left: 0;
    right: 0; }

.hero-image {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/frontpage-header.png");
  background-color: orange;
  height: 450px; }
  .hero-image-tall {
    height: 700px; }
  .hero-image .overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }

.header-title-white {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  z-index: 30;
  font-size: 3.2em;
  text-align: center; }

.action-bar {
  z-index: 30;
  position: absolute;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  width: 960px;
  height: 160px;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  padding: 15px 0 15px 0; }

.action-bar-container {
  height: 130px; }
  .action-bar-container span {
    text-align: center; }

.action-bar-large-text {
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-family: "Oswald", sans-serif; }

.action-bar-small-text {
  width: 100%;
  text-align: center; }

.border-rl {
  border-right: 1px solid rgba(132, 132, 132, 0.15);
  border-left: 1px solid rgba(132, 132, 132, 0.15); }

.bottomline {
  border-bottom: 10px solid #00833D; }

.footer-h {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  border-bottom: 4px solid #68B022;
  font-family: "Oswald", sans-serif; }

.footer-social {
  font-size: 1.3em; }
  .footer-social:hover {
    text-decoration: none; }

.contact-info,
.shortcuts,
.social-media {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #3B3B3B; }
  .contact-info a,
  .shortcuts a,
  .social-media a {
    font-family: "Raleway", sans-serif;
    color: #3B3B3B; }

.social-icons {
  height: 51px;
  padding-right: 10px; }

.backgroundcolordiv {
  background-color: #f8f8f8; }

.map {
  width: 65%;
  padding-bottom: 30px;
  padding-top: 30px; }

.headlineVaested {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 600; }

.vaestedDesc {
  font-family: "Raleway", sans-serif;
  font-size: 25px; }

.smallVaestedBox,
.vaestedBox {
  border: 1px solid #f8f8f8;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15); }

.smallVaestedBox {
  padding: 5px; }

.infoContainer {
  padding-bottom: 15px; }

.vaestedBox {
  background-color: #f8f8f8;
  padding: 0px; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  display: inline; }

.vaestedName {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: inline; }

.vaestedImage {
  width: 100%; }

.vaestedTxt {
  padding: 20px; }

.pointer {
  width: 37px;
  height: 54px;
  display: inline-block; }

@media only screen and (max-width: 992px) {
  .action-bar {
    width: 90%; } }
