/*---HJEM---*/

.carousel-sponsor {
    img {
        width: 100px !important;
    }
}

/*---Section FEATURE-GRID---*/

.feature-grid {
    h1,
    h3,
    p {
        color: $offWhite;
    }
    h1,
    h3 {
        font-family: $font-headline;
    }
}

.card-member-padding {
    background-color: white;
    padding: 5%;
}

.carousel-card-padding {
    padding: 10%;
    padding-top: 0%;
}

.card-img-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.card {
    .card-body {
        .card-quote {
            font-size: 0.9rem;
        }
        .card-text {
            font-size: 1rem;
        }
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $action-bar-border;
    margin: 2%;
    margin-bottom: 100px;
    /*box-shadow: inset 0px -1px 0px 1px rgba(0, 0, 0, 0.15);*/
}

.carousel-indicators .active {
    background-color: black;
}

.card-title {
    font-size: 1.2rem;
}

.text-card {
    font-size: 1rem;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-pr {
    display: inline-flex;
}

.fa-bars {
    font-size: 1.6em;
    color: #383838;
    outline: none !important;
}