.footer {
    /* background-color: $bg-light; */
}

.bottomline {
    border-bottom: 10px solid $darkGreen;
}

.footer-h {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    border-bottom: 4px solid $lightGreen;
    font-family: $font-headline;
}

.footer-social {
    font-size: 1.3em;
    &:hover {
        text-decoration: none;
    }
    i {}
}

.contact-info,
.shortcuts,
.social-media {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1em;
    font-family: $font-body;
    color: $darkGray;
    a {
        font-family: $font-body;
        color: $darkGray;
    }
}

.social-icons {
    height: 51px;
    padding-right: 10px;
}