/*---HEADER---*/

/*---LOGO DESCRIPTION---*/

.logo-description {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    font-family: $font-headline;
    font-size: 0.8rem;  
    p{
        line-height: 0.5cm;
    }
}

/*---HERO IMAGE---*/

.hero-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    height: 420px;
    &-tall {
        height: 600px;
    }
    .overlay {
        background: transparentize(#000000, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        &-yellow {
            background: transparentize(yellow, 0.7) !important;
        }
    }
}

/*---TITLE---*/

.header-title-white {
    color: #ffffff;
    font-family: $font-headline;
    z-index: 30;
    font-size: 3.2em;
    text-align: center;
}